/* ------------------------------------------- */
/*	Document Setup
/* ------------------------------------------- */


html, body {
	border: none;
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
	box-sizing: inherit;
	word-break: break-word;
}

*:focus:not(:focus-visible) {
	outline: none;
}

/* Contain Margins ----------------- */

:root .contain-margins > *:first-child,
:root .entry-content > *:first-child,
:root *[class*="_inner-container"] > *:first-child,
:root fieldset > *:first-child,
:root form > *:first-child {
	margin-top: 0;
}

:root .contain-margins > *:last-child,
:root .entry-content > *:last-child,
:root *[class*="_inner-container"] > *:last-child,
:root fieldset > *:last-child,
:root form > *:last-child {
	margin-bottom: 0;
}


/* ------------------------------------------- */
/*	Structure
/* ------------------------------------------- */


[class*="wp-container-"] > *:not(.alignfull) {
	margin-left: auto;
	margin-right: auto;
	width: calc( 100% - ( 2 * var( --wp--custom--gutter ) ) );
}

[class*="wp-container-"] [class*="wp-container-"] > *:not([class^="align"]):not([class*=" align"]) {
	width: 100%;
}


/* ------------------------------------------- */
/*	Alignments
/* ------------------------------------------- */


.alignfull > figcaption {
	padding-left: var( --wp--custom--gutter );
	padding-right: var( --wp--custom--gutter );
}

.alignnone,
.aligncenter,
.alignleft,
.alignright {
	max-width: 100%;
}

.aligncenter,
.aligncenter img {
	margin-left: auto;
	margin-right: auto;
}

:root .alignleft { margin: 3px calc( 1.5 * var( --wp--custom--spacing--baseline ) ) calc( 1.5 * var( --wp--custom--spacing--baseline ) ) 0; }
:root .alignright { margin: 3px 0 calc( 1.5 * var( --wp--custom--spacing--baseline ) ) calc( 1.5 * var( --wp--custom--spacing--baseline ) ); }

@media ( min-width: 700px ) {

	:root .alignwide,
	:root .alignfull {
		margin-bottom: calc( 4 * var( --wp--custom--spacing--baseline ) );
		margin-top: calc( 4 * var( --wp--custom--spacing--baseline ) );
	}

}