/* ------------------------------------------- */
/*	Document Setup
/* ------------------------------------------- */


html, body {
	border: none;
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
	box-sizing: inherit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	letter-spacing: inherit;
	word-break: break-word;
}

*:focus:not(:focus-visible) {
	outline: none;
}

/* Clearing ------------------------ */

.entry-content:after,
[class*="__inner-container"]:after,
.wp-block-post-comments .navigation:after {
	clear: both;
	content: "";
	display: block;
}

/* Contain Margins ----------------- */

:root .contain-margins > *:first-child,
:root .entry-content > *:first-child,
:root *[class*="_inner-container"] > *:first-child,
:root fieldset > *:first-child,
:root form > *:first-child {
	margin-top: 0;
}

:root .contain-margins > *:last-child,
:root .entry-content > *:last-child,
:root *[class*="_inner-container"] > *:last-child,
:root fieldset > *:last-child,
:root form > *:last-child {
	margin-bottom: 0;
}


/* ------------------------------------------- */
/*	Structure
/* ------------------------------------------- */


[class*="wp-container-"] > *:not(.alignfull) {
	margin-left: auto;
	margin-right: auto;
	width: calc( 100% - ( 2 * var( --wp--custom--gutter ) ) );
}

[class*="wp-container-"] [class*="wp-container-"] > *:not([class^="align"]):not([class*=" align"]) {
	width: 100%;
}


/* ------------------------------------------- */
/*	Element Base
/* ------------------------------------------- */


/* Lists --------------------------- */

/* Media --------------------------- */

figure {
	margin: 0;
}

iframe {
	border: none;
	display: block;
	max-width: 100%;
}

img,
embed,
object {
	display: block;
	height: auto;
	max-width: 100%;
}

svg {
	display: block;
}

figcaption {
	display: block;
	font-size: var( --wp--preset--font-size--small );
	line-height: inherit;
	margin-bottom: 0;
	margin-top: calc( .75 * var( --wp--custom--spacing--baseline ) );
}

figcaption a {
	color: inherit;
}

/* Preformatted Text --------------- */

pre {
	font-size: var( --wp--preset--font-size--small );
}

/* Inputs -------------------------- */

form {
	margin-bottom: calc( 2 * var( --wp--custom--spacing--baseline ) );
	margin-top: calc( 2 * var( --wp--custom--spacing--baseline ) );
}

legend {
	font-size: 16px;
	padding: 0 calc( .5 * var( --wp--custom--spacing--baseline ) );
}

label {
	display: block;
	font-size: var( --wp--preset--font-size--small );
	margin: 0 0 calc( .5 * var( --wp--custom--spacing--baseline ) ) 0;
}

label.inline,
input[type="checkbox"] + label {
	display: inline;
	margin-bottom: 0;
	margin-left: var( --wp--custom--spacing--baseline );
}

input,
textarea,
button {
	font-family: inherit;
	line-height: 1;
}

input,
textarea {
	background-color: var( --wp--preset--color--senary );
	border-color: var( --wp--preset--color--foreground );
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	border-style: solid;
	border-width: 2px;
	box-shadow: none;
	color: inherit;
	display: block;
	font-size: 18px;
	line-height: normal;
	margin: 0;
	max-width: 100%;
	padding: 15px 18px;
	width: 100%;
}

textarea {
	height: 120px;
	line-height: var( --wp--custom--line-height--body );
	width: 100%;
}

select {
	font-family: inherit;
	font-size: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

/* Tables -------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
	font-size: var( --wp--preset--font-size--small );
	margin: calc( 2 * var( --wp--custom--spacing--baseline ) ) auto;
	max-width: 100%;
	overflow: hidden;
	width: 100%;
}

caption,
thead,
th,
td,
tfoot {
	border-color: var( --wp--preset--color--foreground );
}

th,
td,
caption {
	line-height: var( --wp--custom--line-height--body );
	padding: var( --wp--custom--spacing--baseline );
}

th,
td {
	border: 2px solid var( --wp--preset--color--foreground );
	margin: 0;
	overflow: visible;
}

th {
	font-weight: var( --wp--custom--font-weight--bold );
}

caption {
	background-color: var( --wp--preset--color--foreground );
	font-weight: var( --wp--custom--font-weight--bold );
	text-align: center;
}

thead {
	border-bottom: 2px solid var( --wp--preset--color--foreground );
	white-space: nowrap;
}

tfoot {
	border-top: 2px solid var( --wp--preset--color--foreground );
	font-style: italic;
}

/* Buttons ------------------------- */

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: var( --wp--preset--color--senary );
	border: 2px solid currentColor;
	box-shadow: 4px 4px 0 currentColor;
	border-radius: 0;
	color: var( --wp--preset--color--foreground );
	cursor: pointer;
	display: inline-flex;
	font-size: 18px;
	font-weight: var( --wp--custom--font-weight--bold );
	justify-content: center;
	line-height: 1.25;
	margin: 0;
	padding: 15px 24px;
	text-align: center;
	text-decoration: none;
	text-underline-offset: .25em;
	text-decoration-thickness: 1px;
}

button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	text-decoration: underline;
}


/* ------------------------------------------- */
/*	Alignments
/* ------------------------------------------- */


.alignfull > figcaption {
	padding-left: var( --wp--custom--gutter );
	padding-right: var( --wp--custom--gutter );
}

.alignnone,
.aligncenter,
.alignleft,
.alignright {
	max-width: 100%;
}

.aligncenter,
.aligncenter img {
	margin-left: auto;
	margin-right: auto;
}

:root .alignleft { margin: 3px calc( 1.5 * var( --wp--custom--spacing--baseline ) ) calc( 1.5 * var( --wp--custom--spacing--baseline ) ) 0; }
:root .alignright { margin: 3px 0 calc( 1.5 * var( --wp--custom--spacing--baseline ) ) calc( 1.5 * var( --wp--custom--spacing--baseline ) ); }

@media ( min-width: 700px ) {

	:root .alignwide,
	:root .alignfull {
		margin-bottom: calc( 4 * var( --wp--custom--spacing--baseline ) );
		margin-top: calc( 4 * var( --wp--custom--spacing--baseline ) );
	}

}