/* ------------------------------------------- */
/*	CSS Variables
/* ------------------------------------------- */

body {
	--wp--custom--gutter: calc( 1.5 * var( --wp--custom--spacing--baseline ) );
	--wp--custom--shaded-style--box-shadow: var( --wp--custom--shaded-style--box-shadow--x ) var( --wp--custom--shaded-style--box-shadow--y ) var( --wp--custom--shaded-style--box-shadow--blur ) var( --wp--custom--shaded-style--box-shadow--color );
	--wp--custom--shaded-style--border: var( --wp--custom--shaded-style--border--width ) var( --wp--custom--shaded-style--border--style ) var( --wp--custom--shaded-style--border--color );
}

@media ( min-width: 400px ) {
	body {
		--wp--custom--gutter: calc( 2 * var( --wp--custom--spacing--baseline ) );
	}
}

@media ( min-width: 1000px ) {
	body {
		--wp--custom--gutter: calc( 3 * var( --wp--custom--spacing--baseline ) );
	}
}

@media ( min-width: 1200px ) {
	body {
		--wp--custom--gutter: calc( 4 * var( --wp--custom--spacing--baseline ) );
	}
}

@media ( max-width: 700px ) {
	body {
		--wp--preset--font-size--tiny:			14px !important;
		--wp--preset--font-size--small: 		16px !important;
		--wp--preset--font-size--normal: 		17px !important;
		--wp--preset--font-size--large: 		21px !important;
		--wp--preset--font-size--extra-large: 	24px !important;
		--wp--preset--font-size--huge: 			48px !important;
		--wp--preset--font-size--gigantic: 		64px !important;
		--wp--preset--font-size--heading-1: 	36px !important;
		--wp--preset--font-size--heading-2: 	32px !important;
		--wp--preset--font-size--heading-3: 	28px !important;
		--wp--preset--font-size--heading-4: 	24px !important;
		--wp--preset--font-size--heading-5: 	21px !important;
		--wp--preset--font-size--heading-6: 	16px !important;
	}
}


/* ------------------------------------------- */
/*	Document Setup
/* ------------------------------------------- */


body {
	font-family: var( --wp--custom--font-primary );
	letter-spacing: var( --wp--custom--letter-spacing--body );
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

* {
	letter-spacing: inherit;
}

a {
	text-underline-offset: .15em;
	text-decoration-skip-ink: all;
	text-decoration-style: underline;
}

a:hover {
	text-decoration: none;
}


/* ------------------------------------------- */
/*	Element Base
/* ------------------------------------------- */


/* Lists --------------------------- */

ul,
ol {
	margin: calc( 1.5 * var( --wp--custom--spacing--baseline ) ) 0 calc( 1.5 * var( --wp--custom--spacing--baseline ) ) 0;
	padding: 0;
}

li {
	margin: calc( .5 * var( --wp--custom--spacing--baseline ) ) 0 calc( .5 * var( --wp--custom--spacing--baseline ) ) 1.25em;
}

li > ul,
li > ol {
	margin-bottom: calc( .5 * var( --wp--custom--spacing--baseline ) );
	margin-top: calc( .5 * var( --wp--custom--spacing--baseline ) );
}

dt,
dd {
	line-height: var( --wp--custom--line-height--body );
}

dt {
	font-weight: var( --wp--custom--font-weight--bold );
}

dt + dd { margin-top: 5px; }
dd + dt { margin-top: 15px; }

/* Quotes -------------------------- */

blockquote {
	border-color: currentColor;
	border-style: solid;
	border-width: 0 0 0 2px;
	margin: 0 0 1em 0;
	padding: 0 0 0 var( --wp--custom--spacing--baseline );
}

cite {
	font-size: 14px;
	font-weight: var( --wp--custom--font-weight--bold );
	letter-spacing: var( --wp--custom--letter-spacing--uppercase );
	text-transform: uppercase;
}

@media ( min-width: 700px ) {

	blockquote {
		padding: 0 0 0 calc( 2 * var( --wp--custom--spacing--baseline ) );
	}

}

/* Separator ----------------------- */

hr {
	background-color: var( --wp--preset--color--foreground );
	border: none !important;
	height: 2px;
	margin-bottom: calc( 2 * var( --wp--custom--spacing--baseline ) );
	margin-top: calc( 2 * var( --wp--custom--spacing--baseline ) );
	opacity: 1;
}

@media ( min-width: 700px ) {
	hr {
		margin-bottom: calc( 3 * var( --wp--custom--spacing--baseline ) );
		margin-top: calc( 3 * var( --wp--custom--spacing--baseline ) );
	}
}


/* ------------------------------------------- */
/*	Structure
/* ------------------------------------------- */


.wp-block-template-part > *:not([data-align="full"]),
.wp-block.entry-content > *:not([data-align="full"]) {
	margin-left: auto;
	margin-right: auto;
	width: calc( 100% - ( 2 * var( --wp--custom--gutter ) ) );
}

[class*="wp-container-"] [class*="wp-container-"] > * {
	width: 100%;
}

:root .wp-block[data-align="full"] > * > figcaption,
:root .alignfull > figcaption {
	padding-left: var( --wp--custom--gutter );
	padding-right: var( --wp--custom--gutter );
}


/* ------------------------------------------- */
/*	Helper Classes
/* ------------------------------------------- */


/* Hiding and Showing -------------- */

@media ( max-width: 1100px ) {
	.hide-tablet-landscape { display: none !important; }
}

@media ( max-width: 1000px ) {
	.hide-tablet-portrait { display: none !important; }
}

@media ( max-width: 700px ) {
	.hide-mobile { display: none !important; }
}

/* Margins ------------------------- */

:root .no-margin.no-margin { margin: 0 !important; }
:root .no-margin-bottom.no-margin-bottom, :root .no-margin-vertical.no-margin-vertical { margin-bottom: 0 !important; }
:root .no-margin-left.no-margin-left, :root .no-margin-horizontal.no-margin-horizontal { margin-left: 0 !important; }
:root .no-margin-right.no-margin-right, :root .no-margin-horizontal.no-margin-horizontal { margin-right: 0 !important; }
:root .no-margin-top.no-margin-top, :root .no-margin-vertical.no-margin-vertical { margin-top: 0 !important; }


/* ------------------------------------------- */
/*	Typography
/* ------------------------------------------- */


.has-gigantic-font-size {
	letter-spacing: var( --wp--custom--letter-spacing--gigantic );
}

@media ( max-width: 700px ) {

	:root .has-tiny-font-size { font-size: 	var( --wp--preset--font-size--tiny ) !important; }
    :root .has-small-font-size { font-size: 		var( --wp--preset--font-size--small ) !important; }
    :root .has-normal-font-size { font-size: 		var( --wp--preset--font-size--normal ) !important; }
    :root .has-large-font-size { font-size: 		var( --wp--preset--font-size--large ) !important; }
    :root .has-extra-large-font-size { font-size: 	var( --wp--preset--font-size--extra-large ) !important; }
    :root .has-huge-font-size { font-size: 			var( --wp--preset--font-size--huge ) !important; }
    :root .has-gigantic-font-size { font-size: 		var( --wp--preset--font-size--gigantic ) !important; }
    :root .has-heading-1-font-size { font-size: 	var( --wp--preset--font-size--heading-1 ) !important; }
    :root .has-heading-2-font-size { font-size: 	var( --wp--preset--font-size--heading-2 ) !important; }
    :root .has-heading-3-font-size { font-size: 	var( --wp--preset--font-size--heading-3 ) !important; }
    :root .has-heading-4-font-size { font-size: 	var( --wp--preset--font-size--heading-4 ) !important; }
    :root .has-heading-5-font-size { font-size: 	var( --wp--preset--font-size--heading-5 ) !important; }
    :root .has-heading-6-font-size { font-size: 	var( --wp--preset--font-size--heading-6 ) !important; }

}


/* ------------------------------------------- */
/*	Site Footer
/* ------------------------------------------- */


.site-footer a[href*="andersnoren.se"] {
	text-decoration: none;
}

.site-footer a[href*="andersnoren.se"]:hover,
.site-footer a[href*="andersnoren.se"]:focus {
	text-decoration: underline;
}