/* --------------------------------------------------------------------------------------------- */
/*	1. Document Setup
/* --------------------------------------------------------------------------------------------- */


body {
	font-family: var( --wp--custom--font-primary );
	letter-spacing: -0.02em;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

* {
	letter-spacing: inherit;
}

a {
	color: inherit;
	text-underline-offset: .15em;
	text-decoration-skip-ink: all;
	text-decoration-style: underline;
}

a:hover {
	text-decoration: none;
}


/* --------------------------------------------------------------------------------------------- */
/*	2. Element Base
/* --------------------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------------------- */
/*	X. Media Queries
/* --------------------------------------------------------------------------------------------- */