<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|80","bottom":"var:preset|spacing|80"},"margin":{"top":"0","bottom":"0"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80)"><!-- wp:heading {"textAlign":"center","level":1} -->
<h1 class="has-text-align-center">Page Not Found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"className":"has-text-align-center"} -->
<p class="has-text-align-center">The page you are looking for could not be found. It might have been deleted, renamed, or it did not exist in the first place. You can search the site below, or return to the front page.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Search...","showLabel":false,"placeholder":"Search for...","width":400,"widthUnit":"px","buttonText":"Search","buttonUseIcon":true,"align":"center"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","align":"full","className":"site-footer no-margin"} /-->